.box {
  position: relative;
}

.input {
  padding: 10px;
  width: 50px;
  height: 50px;
  background: none;
  border: 3px solid #6769df;
  border-radius:10px;
  box-sizing: border-box;

  font-size: 26px;
  color: #000000;
  outline: none;
  transition: 0.5s;
}
.box:hover input {
  width: 210px;
  background: #78e6b1;
  border-radius: 10px;
}
.icon {
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #7051ea;
  transition: 0.2s;
}
.box:hover .icon {
  opacity: 0;
  z-index: -1;
}
